<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181672576623-5bn64tet1pt2m3vsm4679p6v3lqvbilc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181672576623-5bn64tet1pt2m3vsm4679p6v3lqvbilc</string>
	<key>API_KEY</key>
	<string>AIzaSyAZt_6ovylstgUQxuMfmToDbHCGbo8AKPA</string>
	<key>GCM_SENDER_ID</key>
	<string>181672576623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucasginard.airelibre</string>
	<key>PROJECT_ID</key>
	<string>aire-libre-5096b</string>
	<key>STORAGE_BUCKET</key>
	<string>aire-libre-5096b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181672576623:ios:500320b779e542a404ef9a</string>
</dict>
</plist>